body{
	background-image:url("absbg.jpg");
	background-repeat:no-repeat;
	background-size:210%;
}

.carousel-inner{
  width:100%;
  max-height: auto;
}

.column {
  float:left;
  width: 35%;
  padding: 20px;
  height: 300px; 

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container{
	color:white;
}
.terms{
	text-decoration:none;
}